*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: var(--body_background);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.footer{
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--body_origblack);
    color: var(--body_color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1rem;
}

.middle{
    width: 70em;
    height: 20em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.leftBox{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.headerCard{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttonHolder2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.createButton2, .roomsButton{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.createButton2{
    width: 40%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--body_origblack);
    font-size: 2rem;
    color: var(--body_colorDark);
    transition: background-color 0.3s ease;
}

.createButton2:hover{
    background-color: var(--body_background);
    border: 1px solid var(--body_origblack);
    color: var(--body_color);
}

.roomsButton{
    width: 40%;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: var(--body_color);
    border: 1px solid var(--body_origblack);
    transition: background-color 0.3s ease;
}

.roomsButton:hover{
    background-color: var(--body_origblack);
    color: var(--body_colorDark);
}

.rightBox{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.plusModal{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modalContent {
    width: 40em;
    height: auto;
    background: linear-gradient(to bottom, var(--body_background), var(--body_darkerbg));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    position: relative;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
}

.headerModal{
    font-size: 2rem;
    color: var(--body_color);
}

.uploadImageHolder{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.uploadImageHolder i{
    font-size: 2rem;
    background-color: var(--body_origblack);
    padding: 1rem;
    color: var(--body_color);
    border-radius: 50%;
}

.uploadImageHolder span{
    color: var(--body_color);
    font-family: "Poppins", sans-serif;
}

.bothHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
}

.inputHolder{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--body_color);
    font-family: "Poppins", sans-serif;
}

.inputHolder input{
    width: 100%;
    margin-bottom: 1.5rem;
}

.inputHolder input::placeholder{
    color: var(--body_darkerbg);
}

.buttonHolder{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cancelButton, .createButton{
    padding: .5rem 1rem;
    color: var(--body_color);
    background-color: var(--body_background);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cancelButton:hover, .createButton:hover{
    background-color: rgba(246, 231, 212, .5);
}

.uploadLabel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


