*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: var(--body_background);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    position: relative;
}


.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--body_color);
}

.middle {
    width: 100%;
    height: 100vh;
    background-color: var(--body_background);
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 1rem;
    flex-wrap: nowrap; 
    overflow-x: auto;  
}


.dhvsu{
    width: 3em;
    object-fit: cover;
    cursor: pointer;
}

.plusHolder{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2rem;
    gap: 1REM;

    display: flex;
    justify-content: center;
    align-items: center;
}

.plusHolder i{
    font-size: 3rem;
    color:var(--body_colorDark);
    cursor: pointer;
    padding: 1rem 1.2rem;
    background-color: var(--body_origblack);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.plusHolder i:hover {
    transform: scale(1.1);
}

.roomCard{
    width: 24em;
    height: 20em;
    background-color: var(--body_origblack);
    border-radius: 1rem;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.roomImage{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: .5rem;
}

.textHolder{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textHolder span{
    color: var(--body_colorDark);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

.plusModal{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modalContent {
    width: 40em;
    height: auto;
    background: linear-gradient(to bottom, var(--body_background), var(--body_darkerbg));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    position: relative;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
}

.headerModal{
    font-size: 2rem;
    color: var(--body_color);
}

.uploadImageHolder{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.uploadImageHolder i{
    font-size: 2rem;
    background-color: var(--body_darkerbg);
    padding: 1rem;
    color: var(--body_color);
    border-radius: 50%;
}

.uploadImageHolder span{
    color: var(--body_color);
    font-family: "Poppins", sans-serif;
}

.bothHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
}

.inputHolder{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--body_color);
    font-family: "Poppins", sans-serif;
}

.inputHolder input{
    width: 100%;
    margin-bottom: 1.5rem;
}

.inputHolder input::placeholder{
    color: var(--body_colorDark);
}

.buttonHolder{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cancelButton, .createButton{
    padding: .5rem 1rem;
    color: var(--body_color);
    background-color: var(--body_background);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cancelButton:hover, .createButton:hover{
    background-color: rgba(246, 231, 212, .5);
}

.uploadLabel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.newbutton{
    border-radius: 1rem;
    background-color: var(--body_origblack);
    color: var(--body_colorDark);
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.modalContent2 {
    width: 20em;
    height: auto;
    background: linear-gradient(to bottom, var(--body_background), var(--body_darkerbg));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    position: relative;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;

    gap: 1rem;
}

.codeText{
    color: var(--body_color);
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

.inputSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.inputCode{
    width: 100%;
    background-color: var(--body_background);
}

.inputSection i{
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--body_color);
}

.xbutton{
    position: absolute;
    font-family: "Poppins", sans-serif;
    padding: .1rem .7rem;
    color: var(--body_colorDark);
    border-radius: 50%;
    top: 0;
    right: 0;

    cursor: pointer;
}

.toGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.toGrid label{
    font-size: 1.5rem;
    color: var(--body_color);
}

.gidLayout{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.gridHeader{
    width: 100%;
    text-align: center;
    padding: 3rem;
    color: var(--body_color);
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--body_color);
}

.memberGrid{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--body_color);
    padding: 3rem;
    color: var(--body_color);
    cursor: pointer;
}